
  h1 {
    color: rgb(56, 90, 102);
    font-family: arial;
    font-size: 50px;
    text-align: center;
  }
  p {
    text-indent: 30px;
    line-height: 1.5;
    font-size: 16px;
    color: rgb(15, 208, 195);
    font-family: verdana;
  }
  li {
    color: rgb(77, 106, 159);
    font-size: size 12px;
    font-family: cursive;
  }