table {
    border-collapse: collapse;
    font-family: Verdana, sans-serif;
}

th, td {
    width: 100px;
    border-bottom: 1px solid rgb(236, 230, 230);
}

th:first-child, td:first-child {
    width: 50px;
}

th {
    background-color: #4daa14;
    color: white;
}

tr:nth-child(odd) {
    background-color: #4daa14;
    color: white;
}

tr:nth-child(even) {
    background-color: #4daa14;
    color: white;
}

tr:hover {
    background-color: #f200ff; 
    color: black; 
}
